/* body {
	font-family: "Helvetica Neue", sans-serif;
} */

.footer {
	position: relative;
	background-color: rgba(9, 9, 9, 1);
	padding: 30px 22px 25px 25px;
}
.footerHead {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footHeadItem {
	color: gray;
	font-size: 14px;
	line-height: 17px;
	font-weight: 500;
	width: 150px;
}
.blockSpan {
	display: block;
	width: 220px !important;
}
.maldexMainLogo {
	position: absolute;
	top: 38px;
	right: 35px;
}

.footerHeadSec {
	margin-top: 10px;
}

.footHeadInfo {
	color: rgba(242, 242, 242, 1);
	text-align: left;
	font-size: 46px;
	line-height: 50px;
	font-weight: 500;
	width: 150px;
}

.underline {
	border-bottom: 3px solid;
}

.footCenter {
	color: rgba(242, 242, 242, 1);
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}
.footCenterUl {
	list-style: none;
	width: 152px;
}
.footCenterLi {
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	color: rgba(242, 242, 242, 1);
	margin-top: 5px;
}
.mainLi {
	color: rgba(170, 170, 170, 1);
	font-weight: 700;
	color: gray;
	margin-bottom: 15px;
}
.noLi {
	color: rgba(9, 9, 9, 1);
}

.footCenterSec {
	margin-top: 6px;
}

.footBottom {
	border-top: 1px solid rgb(84, 81, 81);
	padding: 20px 0 0px;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footBottomItem {
	font-size: 12px;
	line-height: 14px;
	font-weight: 500;
	color: gray;
}
.footBottomItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}
.footButtonBtn {
	font-size: 11px;
	line-height: 13.43px;
	font-weight: 500;
	color: rgba(238, 237, 233, 1);
	border: 1px solid rgba(238, 237, 233, 1);
	border-radius: 6px;
	padding: 4px 6px 1px;
	background-color: inherit;
	font-family: inherit;
}

/* animation */
.scrollContainer {
	width: 100%;
	overflow: hidden;
	background-color: rgba(0, 182, 186, 1);
	white-space: nowrap;
	display: flex;
	align-items: center;
}

.scrollContent {
	padding: 10px 0;
	font-weight: 500;
	font-size: 28px;
	line-height: 35px;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
	animation: marquee-scroll 110s linear infinite;
}

/* @keyframes marquee-scroll {
	from {
		transform: translateX(-90%);
	}
	to {
		transform: translateX(100%);
	}
} */

@keyframes marquee-scroll {
	0% {
		transform: translateX(-80%);
	}
	49.9% {
		transform: translateX(0%);
	}
	50% {
		transform: translateX(-90%);
	}
	100% {
		transform: translateX(0%);
	}
}
